[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
toml = "*"
requests = "*"
bibtexparser = "==1.1.0"

[dev-packages]
pytest = "*"
flake8 = "*"
twine = "*"
black = "==19.10b0"
