[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
toml = "*"
requests = "*"
bibtexparser = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = ">=3.6"
